html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
}

.container > div:first-child{
    width: 400px;
    height: 100%;
}
.container > div:nth-child(2){
    width: 150px;
    height: 100%;
    margin-left: 50px;
}